Django==1.4.3
South==0.7.6
amqp==1.0.6
anyjson==0.3.3
billiard==2.7.3.19
celery==3.0.13
distribute==0.6.31
django-celery==3.0.11
django-celery-with-redis==3.0
django-eve-db==1.0.7-463858
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.17.2
kombu==2.5.4
meld3==0.6.10
psycopg2==2.4.6
py-bcrypt==0.2
python-dateutil==1.5
python-memcached==1.48
pytz==2012j
redis==2.7.2
setproctitle==1.1.6
supervisor==3.0b1
wsgiref==0.1.2
