{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block page-header %}
    <div class="page-header">
        <div class="content-center">
            <div class="container">
                <h3>Reset Password</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="span6 offset2">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <fieldset>
            {% if form.non_field_errors %}
            <div class="alert alert-error fade in"><p /><a class="close" data-dismiss="alert" href="#">&times;</a>{{ form.non_field_errors }}</div>
            {% endif %}
            {% for field in form %}
            <p>
                <div class="control-group {%if field.errors %}error{%endif%}">
                    <label class="control-label" for="id_{{ field.label }}">
                        {{ field.label }}:
                    </label>
                    <div class="controls">
                        {{ field }}
                        <span class="help-inline">{{ field.errors }}</span>
                    </div>
                </div>
                </p>
            {% endfor %}
            </fieldset>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="Reset my password" />
                    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
