<div class="side-nav-container">
    <div class="esmodule esmodule-nav">
        <div class="esmodule-header">
            Eve API Settings
        </div>
        <div class="esmodule-row">
            <i class="icon-chevron-right"></i> <a href="{% url api.views.api_key %}"> Manage API Keys</a>
        </div>
        <div class="esmodule-row">
            <i class="icon-chevron-right"></i> <a href="{% url api.views.characters %}"> Manage Pilots</a>
        </div>
        <div class="esmodule-header">
            Account Settings
        </div>
        <div class="esmodule-row">
            <i class="icon-chevron-right"></i> <a href="{% url auth.views.profile %}"> Change Password</a>
        </div>
    </div>
</div>