{% extends "base.html" %}
{% block nav-home %}<li class="active">{% endblock %}

{% block page-header %}
    <div class="page-header">
        <div class="content-center">
            <div class="container">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="hero-unit">
        <h1>What is EveSynapse?</h1>
        <p>EveSynapse helps you organize and manage you and your corporations science & industry operations, allowing you to optimize your production line and increase profits.</p>
        <p>
        <a class="btn btn-primary btn-large" href="/accounts/register/">
            Get started!
        </a>
        </p>
    </div>
{% endblock %}